<div class="container">
  <h1>WIP</h1>

  <h2>Choose your role:</h2>

  {{#link-to 'spectator' class="button" }}
    Spectator
  {{/link-to}}

  {{#link-to 'driver' class="button" }}
    Driver
  {{/link-to}}

  {{outlet}}

</div>
