<div class="container">
  <div class="title">
    <h1><a href="/">Drive the Dragon</a></h1>
  </div>

  <div id="instructions" class="info">
    Have you ever wished drive a car from the comfort of your home? Use your phone and cardboard and do it now! (choose your role below)
  </div>

  {{#link-to 'spectator' class="button button-primary" }}
    Spectator
  {{/link-to}}

  {{#link-to 'driver' class="button button-primary" }}
    Driver
  {{/link-to}}

  <div class="container footer">
    <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by PyPhy+Dev
  </div>
</div>
